@inject NavigationManager navigationManager
@implements IDisposable
@rendermode InteractiveServer

<div class="modal fade show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.5);" @onclick="CerrarModal">
    <div class="modal-dialog" role="document" @onclick:stopPropagation="true">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Menu</h5>
                <button type="button" class="btn-close" @onclick="CerrarModal"></button>
            </div>
            <div class="modal-body">
                <div class="card p-3 mb-3">
                    <div class="user-menu" >
                        <AuthorizeView>
                            <Authorized>
                                <NavLink href="@Urls.Account.Manage" @onclick="CerrarModal">
                                    <div class="ver_perfil">
                                        Ver Perfil
                                    </div>
                                </NavLink>
                            </Authorized>
                            <NotAuthorized>

                            </NotAuthorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Admin">
                            <NavLink href="@Urls.General.HistorialAdopciones" @onclick="CerrarModal">
                                <div class="btnUserMenu">
                                    <i class="bi bi-code-slash"></i>
                                    <div class="btnText">Historial Adop</div>
                                </div>
                            </NavLink>

                            <NavLink href="@Urls.Advanced.Index" @onclick="CerrarModal">
                                <div class="btnUserMenu">
                                    <i class="bi bi-code-slash"></i>
                                    <div class="btnText">Funciones Avanzadas</div>
                                </div>
                            </NavLink>

                        </AuthorizeView>
                        <AuthorizeView>
                            <NotAuthorized>
                                <NavLink href="@Urls.Account.Login" @onclick="CerrarModal">
                                    <div class="btnUserMenu">
                                        <i class="bi bi-code-slash"></i>
                                        <div class="btnText">Iniciar Sesion</div>
                                    </div>
                                </NavLink>
                                <NavLink href="@Urls.Account.Register" @onclick="CerrarModal">
                                    <div class="btnUserMenu">
                                        <i class="bi bi-code-slash"></i>
                                        <div class="btnText">Registrarse</div>
                                    </div>
                                </NavLink>
                            </NotAuthorized>

                            <Authorized>
                                <NavLink href="@Urls.Solicitudes.Index" @onclick="CerrarModal">
                                    <div class="btnUserMenu">
                                        <i class="bi bi-code-slash"></i>
                                        <div class="btnText">Solicitudes</div>
                                    </div>
                                </NavLink>

                                <NavLink href="@Urls.Citas.Index" @onclick="CerrarModal">
                                    <div class="btnUserMenu">
                                        <i class="bi bi-code-slash"></i>
                                        <div class="btnText">Citas</div>
                                    </div>
                                </NavLink>

                                <div>
                                    <form action="Account/Logout" method="post">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="btnUserMenu" @onclick="CerrarModal">
                                            <i class="bi bi-code-slash"></i>
                                            <div class="btnText">Cerrar Sesion</div>
                                        </button>
                                    </form>
                                </div>
                            </Authorized>
                        </AuthorizeView>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@code {
    private string? currentUrl;
    [Parameter] public EventCallback OnClose { get; set; }
    public async Task CerrarModal()
    {
        await OnClose.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        currentUrl = navigationManager.ToBaseRelativePath(navigationManager.Uri);
        navigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = navigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        navigationManager.LocationChanged -= OnLocationChanged;
    }
}
