@page "/Mascotas"

@using PawfectMatch.Models._Mascotas
@inject MascotasService mascotasService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<h3 class="mb-4">Mascotas en Adopción</h3>
<AuthorizeView Roles="Admin">
    <button class="btn btn-primary" @onclick="gotoCreate">Crear Mascota</button>
</AuthorizeView>
@if (mascotas == null)
{
    <p>Cargando mascotas...</p>
}
else if (!mascotas.Any())
{
    <div class="alert alert-warning">No hay mascotas disponibles actualmente.</div>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var m in mascotas)
        {
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="@m.FotoUrl" class="card-img-top" style="height: 250px; object-fit: cover;" alt="@m.Nombre" />
                    <div class="card-body">
                        <h5 class="card-title">@m.Nombre</h5>
                        <p class="card-text">
                            Edad: @((DateTime.Now.Year - m.FechaNacimieneto.Year)) años<br />
                            Raza: @m.Categoria.Razas.FirstOrDefault(r => r.RazaId == m.RazaId)?.Nombre
                        </p>

                        <div class="d-flex justify-content-between">
                            <a href="/Details/Mascotas/@m.MascotaId" class="btn btn-outline-primary btn-sm">Ver más</a>

                            <AuthorizeView>
                                <a class="btn btn-secondary btn-sm" href="/Editar/Mascotas/@m.MascotaId">Editar</a>
                            </AuthorizeView>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

}

@code {
    private List<Mascotas>? mascotas;

    protected override async Task OnInitializedAsync()
    {
        mascotas = await mascotasService.ListAsync(m => m.EstadoId == 1);
    }

    public void gotoCreate()
    {
        navigationManager.NavigateTo("/Crear/Mascotas");
    }
}
